<ion-header>

  <ion-navbar>
    <ion-title>我的消息</ion-title>
    <ion-buttons end>
      <button ion-button (click)="markAll()">
        <ion-icon color="primary" name="notifications-off"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      未读消息
    </ion-list-header>
    <ion-item *ngIf="!hasNotMessageCount">
      <button clear ion-button full>暂无未读消息</button>
    </ion-item>
    <ion-item-sliding *ngFor="let message of myMessages?.hasnot_read_messages">
      <ion-item text-wrap>
        <p *ngIf="message.type == 'reply'">
          <a (click)="openUser(message.author.loginname)">{{message.topic.loginname}}</a> 回复了你的话题
          <a (click)="openTopic(message.topic.id)">{{message.topic.title}}</a>
        </p>
        <p *ngIf="message.type == 'at'">
          <a (click)="openUser(message.author.loginname)">{{message.topic.loginname}}</a> 在话题
          <a (click)="openTopic(message.topic.id)">{{message.topic.title}}</a> 中@了你
        </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="markOne(message)" color="danger">
        <ion-icon name="notifications-off"></ion-icon>
        标记为已读
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      已读消息
    </ion-list-header>
    <ion-item *ngIf="!hasMessageCount">
      <button clear ion-button full>暂无已读消息</button>
    </ion-item>
    <ion-item *ngFor="let message of myMessages?.has_read_messages ">
      <p *ngIf="message.type=='reply' ">
        <a (click)="openUser(message.author.loginname)">{{message.topic.loginname}}</a> 回复了你的话题
        <a (click)="openTopic(message.topic.id)">{{message.topic.title}}</a>
      </p>

      <p *ngIf="message.type=='at' ">
        <a (click)="openUser(message.author.loginname)">{{message.topic.loginname}}</a> 在话题
        <a (click)="openTopic(message.topic.id)">{{message.topic.title}}</a> 中@了你
      </p>
    </ion-item>
  </ion-list>
</ion-content>