<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon color="primary" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>我的收藏</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <button *ngIf="!collectCount" clear ion-button full>暂无收藏的话题</button>
  <ion-list *ngIf="collectCount">
    <ion-item-sliding *ngFor="let topic of myCollects">
      <ion-item>
        <ion-avatar item-left>
          <img src="{{topic.author.avatar_url}}">
        </ion-avatar>
        <h2>{{topic.title}}</h2>
        <h3 style="margin-top: 10px" class="agotime">{{topic.last_reply_at|amAgoTime}}</h3>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="remove(topic)" color="danger">
        <ion-icon name="trash"></ion-icon>
        移除
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>